body {
    font-family: sans-serif;
    width: 80.7em;
    margin: 0;
}
header {
    background-color: #222222;
    padding-bottom: 3em;
}
nav {
    color: #9d9d99;
    height: 1em;
    padding-top: 0.7em;
}
ul {
}
#ligrd {
    margin-left: 1em;
    font-size: 1.2em;
}
li {
    display: inline-block;
    font-size: 0.8em;
    margin-right: 1em;
}
main {
    width: 80.7em;
}
section {
    margin: 0 auto;
    width: 90%;
}
section > h2 {
    color: #9d9d99;
}
h1 {
    display: inline-block;
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-weight: lighter;
    font-size: 2.5em;
}
h2 {
    display: inline-block;
    margin-left: 0.7em;
    margin-right: 11em;
    margin-bottom: 0.1em;
    font-weight: lighter;
}
h3 {
    display: inline-block;
    margin-left: 1em;
    margin-bottom: 0.1em;
    font-weight: lighter;
}
article {
    border-top: 1px solid #eeeeee;
    padding-bottom: 6em;
    padding-top: 1em;
}
img {
    float: left;
}
p {
    display: inline-block;
    width: 38%;
    margin-left: 1em;
    font-size: 0.9em;
}
button {
    margin-left: 1em;
}
a {
    border: 1px solid #dddddd;
    margin-right: -0.46em;
    padding: 1em;
    text-decoration: none;
    color: #597abb;
}
a:visited {
    border-color: #dddddd;
}
main ul {
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    padding-bottom: 3em;
    padding-top: 3em;
    text-align: center;
}
main li {
    margin: 0;
}
.selected {
    color: white;
    background-color: #337ab7;
    border-color: #337ab7;
}
footer {
    margin-top: 10em;
}
footer p {
    margin-left: 5em;
}
